{
  "presets": ["@babel/preset-react"],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@loadable/babel-plugin"
  ]
}